<div class="jumbotron">
    <h1 class="display-4">Bem-vindo ao Blog do Node!</h1>
    <p class="lead">Este é um blog simples, desenvolvido com Node.js + Express + MongoDB</p>
    <hr class="my-4">
    <p>Aqui você vai ler sobre as novidades no mundo da computação.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta</a>
    </p>
</div>

<hr>

<h2>Postagens recentes:</h2>

{{#each posts}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <a href="/post/{{slug}}">Ver mais</a>
        <hr>
        <small class="d-block">Categoria: {{category.name}}</small>
        <small>Publicado em: {{createdAt}}</small>
    </div>
</div>
{{/each}}