<h1>{{category.name}}</h1>
{{#each posts}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <a href="/post/{{slug}}">Ver mais</a>
        <hr>
        <small>Publicado em: {{createdAt}}</small>
    </div>
</div>
{{/each}}